<section class="about__page">
    <h1 class="title">
        Rick and Morty GraphQL API APP
    </h1>
    <div class="about__container">
        
            Angular 14 + Rick and Morty GraphQL API + APP.
            <p class="about__paragraph">
                Este proyecto utiliza las siguientes tecnologías: NodeJS, Angular 14, GraphQL, Apollo, RXJS, CSS, HTML, Git, APIREST, JSON.
            </p>
            <figure class="about__img">
                <img src="/assets/imgs/logo1_academystartwaves.png" alt="Start Waves Academy" class="about__picture">
            </figure>
    </div>
    <div>
    <br><br>
    </div>
    <div class="about__copy">
        Desarrollado por Elkin Nocua by <span class="text-white">Start Waves Academy</span> 
    </div>
</section>