section.about__page {
    margin-top: 2rem;
    color: #f5f5f5;
  }
  section.about__page .about__container {
    display: flex;
    margin-top: 2rem;
  }
  section.about__page .about__copy {
    text-align: end;
  }  